@media only screen and (max-width: 390px) {
    body {
        margin-left: 30%;
        margin-top: 0;
    }
    #nav-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30vw;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
    }
    li.nav-item {
        padding-left: 5px;
        text-align: left;
        width: 80%;
        margin-right: 0;
    }
    #description {
        overflow: auto;
        padding: 0.5rem;
        background: rgba(255, 113, 57, 0.6);
        color: white;
        font-size: 1.3rem;
    }
    #content-container {
        text-align: center;
        padding: 0.5rem;
       background: rgba(124, 255, 64, 0.6)
    }
    .content-item {
        padding-bottom: 10px;
        background: none;
    }

}