* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    margin-top: 4rem;
}
#container {
    text-align: center;
}
#nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to bottom,rgb(250, 250, 250),rgb(255, 173, 173),rgb(255, 79, 79),rgb(253, 40, 40));
    margin-bottom: 1rem;
}
.nav-item {
    background-color: beige;
    margin: 8px 12px;
    padding: 6px 12px;
    border: 1px solid black;
    position: relative;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    cursor: pointer;
}
.nav-item::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -21px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid rgb(0, 0, 0);
}
#description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(255, 60, 229, 0.7);
}
.content-item {
    background: rgba(83, 17, 204, 0.7);
    padding: 0.5rem;
    margin: 5px;
}
li {
    list-style-type: none;
}